{% extends "base.html" %}
{% block title %}Connect{% endblock %}
{% block content %}    
<form id="form" action="/connect" method="POST">    
    <div id="connection-box">
    <h1 style="color: whitesmoke;" >Mongo Connect</h1>
    <p id="message" style="color: greenyellow; font-size: x-large;"></p>
    <input type="text" id="string" maxlength="150" name="string"  placeholder="Connection String" >
    <h5>or</h5>
    <input type="text" id="username" maxlength="30" name="username"  placeholder="User Name" >
    <input type="password" id="password" maxlength="50" name="password"  placeholder="Password" >
    <button id="connect-btn">Connect</button>
    <button class="btn btn-danger" type="reset" onclick="resetForm()">RESET</button>
    </div>
</form>    
{% endblock %}
{% block script %}"/static/js/connect.js"{% endblock %}

